//----------------------about me---------------------------

.container-about-me{

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .col-2{
    flex-basis: 50%;
    min-width: 300px;

    img{
      max-width: 100%;
      padding: 50px 0;
      float: right;

    }
    h1{
      font-size: 50px;
      line-height: 60px;
      margin: 25px 0;
      color: white;
    }

    p{
      color: white;
    }
  }
}