//----------------------header---------------------------

header{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0),
          rgba(1,1,1,1)), url("assets/images/welcome.jpg");
  height: 130vh;
  background-size: cover;

  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid white;
  }

  nav{
    flex: 1;
    text-align: right;

    ul{
      display: inline-block;
      list-style: none;

      li{
        margin: 15px 15px;
        display: inline-block;
        font-size: 20px;

        a{
          text-decoration: none;
          color: white;
        }
        a:hover{
          color: #ff523b;
          transition: 0.5s;
        }
      }
    }
  }

  .container-mini{
    padding-top: 300px;
    position: relative;

    h1{
      color: white;
    }

    p{
      color: white;
    }
  }

  .container-socials{
    height: 200px;
    width: 50px;
    float: right;
    display: block;
    padding-bottom: 140px;

    img{
      transition: 0.5s;
    }

    img:hover{
      transform: scale(1.5);
    }
  }
}