//----------------------layout---------------------------

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-welcome, .container-about-me, .container-application, .container-curriculum, .container-curriculum,
.container-skill, .container-controll{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.btn{
  background-color: #ff523b;
  color: white;
  display: inline-block;
  padding: 16px 28px;
  margin-top: 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}
.btn:hover{
  background-color: #94482e;
}

#scroll-icon{
  right: -50px;
  bottom: 50px;
  width: 50px;
  display: block;
  position: fixed;
  transition: transform 1s;
  cursor: pointer;
}

#menu-icon{
  display: none;
  z-index: 100;
  width: 20px;
  margin: 10px 0 10px 0;
}
//----------------------responsive curriculm (900px)----------------------

@media only screen and (min-width: 901px){

  #desktop{
    display: block;
  }
  #resp{
    display: none;
  }
}
@media only screen and (max-width: 900px){

  #desktop{
    display: none;
  }
  #resp{
    display: block;
  }
}

//----------------------responsive(800px)---------------------------

@media only screen and (min-width: 801px) {

  .skills {

    .col-2 {
      font-size: 40px;
    }
    .card{
      width: 700px;
    }
  }
  .container-mini{

    h1{

      font-size: 60px;
      line-height: 60px;
    }
    p{

      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 800px) {

  #menu-icon{
    display: block;
    cursor: pointer;
  }

  #scroll-icon{
    display: none;
  }

  nav{
    z-index: 10;

    ul{
      position: absolute;
      top: 80px;
      left: 25px;
      right: 25px;
      background: #333;
      overflow: hidden;
      transition: max-height 0.5s;
      height: 200px;
      display: block;

      .list{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

        a{
          color: #fff;
          cursor: pointer;

        }
      }
    }
  }
  .skills{

    .col-2{
      font-size: 30px;
    }

    .card{
      width: 500px;
    }
  }
}

//----------------------responsive(600px)----------------------

@media only screen and (max-width: 600px){

  header{

    .container-mini{
      text-align: center;
      margin-bottom: 500px;

      h1{
        font-size: 40px;
        line-height: 50px;
        text-align: center;
      }

      p{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }
    }
  }

  .container-curriculum, .container-application{

    font-size: 10px;

    h1{
      text-align: center;
    }

  }

  .skills{

    .col-2{
      font-size: 20px;
    }

    .card{
      width: 300px;
    }
  }
}
@media only screen and (max-width: 400px){

  header{

    .container-mini{

      h1{
        font-size: 25px;
        line-height: 30px;

      }

      p{
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}




